<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login & Registration</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Login or Register!</h1>
			<div id="errors">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			<div id="login">
				<fieldset>
					<legend>Login:</legend>
					<form action="/login" method="post">
						{% csrf_token %}
						Email: <input type="text" name="email" />
						Password: <input type="password" name="password" />
						<input type="submit" value="Login" />
					</form>
				</fieldset>
			</div>
			<div id="registration">
				<fieldset>
					<legend>Register</legend>
					<form action="/register" method="post">
						{% csrf_token %}
						First Name: <input type="text" name="first_name" />
						Last Name: <input type="text" name="last_name" />
						Email: <input type="email" name="email" />
						Birthday: <input type="date" name="birthday" />
						Password: <input type="password" name="password" />
						Confirm Password: <input type="password" name="pw_confirm" />
						<input type="submit" value="Register" />
					</form>
				</fieldset>
			</div>
		</div>

	</body>
</html>
